
	*{
		font-family:verdana;
		color:#800000;
	}
	
	body{
		background-color:#9D360D;
	}
	
	#todo{
		background-color:#D2691E;
		width : 86%;
		margin-left : 7%;
		padding-bottom:10px;
		padding-top:10px;
	}
	
	#banner{
		margin: 0 auto;
		width:1053px;
		height:229px;
		background-color:black;
	}
	
	#menu{
		
		position:relative;
		width:870px;
		height:44px; 
		margin: 0 auto;
		margin-top:20px;
		background-color:#FFE4B5;
	}
	
	#navi{
	
		margin:0 auto;
		padding:0px;
		list-style-type:none;
	}
	
	#navi li{
		margin: 0 auto;
		border:1px solid black;
		float:left;
		width:215.5px;
		height:44px;
		text-align:center;
		
	}
	
	
	#navi li a{
		display:block;
		text-decoration:none;
		font-size:15px;
		padding-top:10px;
		height:34px;
		color:black;
		
		
	}
	
	#navi li a:hover{
	background-color:#9D360D;
	color:#FFE4B5;
	}
	
	
	
	#mapaDeSite{
	width:80x;
	height:6px;
	float:right;
	margin-right:0.5%;
	margin-top:15px;
	}
	
	#mapaDeSite a:hover{
	color:#FFE4B5;
	}
	
	
	#principal{
		border:solid #FFE4B5;
		position:relative;
		width:709px;
		height:209px;
		margin-top:40px;
		margin-left:27%;
		background-color:black;
		
	}
	
	#h1{
		font-size:30px;
	}
	
	#sugerencia{
		
		position:relative;
		width:860px;
		height:450px;
		margin: 0 auto;
		margin-top:30px;
	}
	
	#producto1{
		margin-left: 5%;
		border:solid #800000;
		background-color:#FFE4B5;
		width:35%;
		height:32%;
	
	}
	
	#producto2{
		border:solid #800000;
		background-color:#FFE4B5;
		width:35%;
		height:32%;		
		margin-right:5%;
		float:right;
		margin-top:-150px;
		

	}
	
	#producto3{
		border:solid #800000;
		background-color:#FFE4B5;
		width:35%;
		height:32%;		
		margin-left:5%;
		margin-top: 50px;
		
	}
	
	#producto4{
		border:solid #800000;
		background-color:#FFE4B5;
		width:35%;
		height:32%;
		margin-right:5%;
		float:right;
		margin-top:-150px;
		
	}
	
	.IMGMyPRecomienda{

		margin-top:-72;
		float:right;
	}
	
	
	
	
	#secodbaner{
		position:relative;
		width:960px;
		height:80px;
		margin: 0 auto;
		background-color:orange;
		border:solid #FFE4B5;
		
	}
	
	.baner2{
	  size:30px;
	
	}










	


#gerentes{
width:400px;
height:300px;
border: black solid;
margin-top:55px;
margin-left:20px;
float:left;
}


#InfoNosotros{
width:350px;
height:310px;
margin-left:450px;
padding-top:30px;
font-style: black;

}

.informacion{
color:black;
}

#noso{
 background-color:#862C15;
 width:860px;
 height:450px;
 margin-top:50px;
 margin-left:180px;
 margin-bottom:50px;
 border:solid #FFE4B5;
}

#tituloNosotros{
color: #FFE4B5;
}














#Productos{
margin-top: 60px;
margin-bottom:150px;
}


#Postres{
width:300px;
height:300px;
margin-left:230px;
margin-top:-30px;
float:left;
}

#Bocaditos{
width:300px;
height:300px;
margin-left:700px;
}

.imagenes{
border: black solid;
}

.tituloImagen{
font-size:30px;
}

#todo{
padding-bottom:20px;
}

#carritoVenta{
position:absolute; top:330px;
position:absolute; left:1130px;
}

a img:hover{
	 border:solid 2px #FFE4B5;
}

















#contenedor{
	margin-top:80px;
	width: 1200px;
}
#flecha_der{
	float: right;
	cursor: pointer;
	margin-right:350px;
	margin-top:58px;
}
#flecha_izq{
	float: left;
	cursor: pointer;
	margin-left:350px;
	margin-top:58px;
}

#cant{
 BORDER-BOTTOM-WIDTH: 1px;  
 BORDER-LEFT-WIDTH: 1px;
 BORDER-RIGHT-WIDTH: px;
 BORDER-TOP-WIDTH: 1px;
 width:0.5px;
 }

 input#cant{
 width:50px;
 }
 
 
.productos{
	width: 310px;
	margin: 0 auto;
	text-align:center;
}

#TextoTipoProducto{
	margin-left:170px;
}

















#mapaSite{
	margin-left: 30%;
	margin-top:5%;
	margin-bottom: 6%;
	font-size: 30px;
	background-color:#862C15;
	width:500px;

}

#mapa{
margin-top:50px;

}
#mapa li{
		margin-bottom: 10px; 
		color: #FFE4B5;
}

#mapa li a{
		text-decoration:none;
		font-size:20px;
		color: #FFE4B5;
		padding-top:12px;
		
	}

#mapa li a:hover{
		color:orange;
}



















#InformaciónDireccion{
width:270px;
height:354px;
border: #FFE4B5 solid;
margin-top:60px;
margin-left:170px;
}

.contac{
font-size:16px;
text-decoration:underline;
font-weight:bold;
margin-left:300px;
}


#cuestionario{
margin-top:100px;
}

#mapaG{
 float:right;
 margin-top:60px;
 margin-right:120px;
}

#mensaje{
float:right;
margin-right:300px;
}

#boton{
margin-top:30px;
margin-left:45%;
margin-bottom:30px;
}

#contacto{
	margin-left:5%;
}

#con1{
	margin-left:5%
}

#con2{
	margin-top:2%;
	margin-left:5.2%
}

#con3{
	margin-top:2%;
	margin-left:7%;
	margin-bottom:2.5%;
}


#area1{
	margin-top:1%;
	margin-left:38%;
	width:443px;
	height:140;
}

#boton2{
	margin-left:10%;
}

.InicioMensaje{
margin-left:300px;
font-weight:bold;
font-size:19px;
margin-top:50px;
}

















#dulcesDeseos{
	
	margin-left:65px;
}

table{

	margin-left:8%;
	height:100px;
	width:950px;
	border:solid black 1px;
}

#dulcesDeseos{
	margin-left:6%;
	margin-top:70px;
}

h3{
	font-size:15px;
}


tr#cabeza{
	border:solid black;
}



#paso2{
	border:solid black 1px;
	margin-left:8%;
	margin-top:30px;
	width:950px;
	height:50%px;
}

#paso3{
	border:solid black 1px;
	margin-left:8%;
	margin-top:30px;
	width:950px;
	height:50%px;
	margin-bottom:5%;
}


#headF{
	border-bottom:solid black 1px;
	height:20px;
	width:950px;
	text-align:center;
	font-size:10px;	
}

#botonnext{
	margin-left:45%;
	margin-bottom:5%;
	margin-top: 45px;
}

#botonCarrito{
	margin-left:45%;
	margin-bottom:5%;
	margin-top: 45px;
}

#izq{
	margin-top:2%;
	margin-left:10%;
}

#izq2{
	margin-top:2%;
	margin-left:1%;
}

#izq3{
	margin-top:2%;
	width:250px;
	margin-left:8.4%;
}

#izq4{
	margin-top:2%;
	margin-left:7%;
}

#izq5{
	margin-top:2%;
	margin-left:10%;
}

#izq6{
	margin-top:2%;
	margin-left:7%;
}

#izq7{
	margin-top:2%;
	margin-left:25%;
	margin-bottom:5%;
}

#der1{
	margin-top:2%;
	margin-left:2%;
}

#der2{
	margin-top:2%;
	margin-left:14.5%;
	width:120px;
}

#der3{
	margin-top:2%;
	margin-left:4%;
}

#der4{
	margin-top:2%;
	margin-left:2.7%;
	margin-bottom:5%
}
	
#label2{
	margin-left:5%;
}

#label21{
	margin-left:15%;
	margin-bottom:5%;
}

#form1Carrito{
		margin-top:30px;
		margin-left:150px;
}

#pro{
	width:550px;
	text-align:center;
}


#paso1{
 overflow:auto;
 width:970px;
 height:200px;
 border:solid black 1px;
 margin-left:95px;
 
}

#tablaProducto td{
border:solid black 1px;

}

#tablaProducto th{
border:solid black 1px;
}

#tablaProducto {
margin-left:0px;
}
.eliminarpro{
height:50px;
margin-left:50px;
}

#totalAcumulado{
position:relative;
left:985px;
}


	