#InformaciónDireccion{
width:270px;
height:354px;
border: #FFE4B5 solid;
margin-top:60px;
margin-left:170px;
}


label{
font-size:16px;
text-decoration:underline;
font-weight:bold;
margin-left:300px;
}

#cuestionario{
margin-top:100px;
}

#mapa{
 float:right;
 margin-top:60px;
 margin-right:120px;
}

#mensaje{
float:right;
margin-right:300px;
}

#boton{
margin-top:30px;
margin-left:45%;
margin-bottom:30px;
}

#contacto{
	margin-left:5%;
}

#con1{
	margin-left:5%
}

#con2{
	margin-top:2%;
	margin-left:5.2%
}

#con3{
	margin-top:2%;
	margin-left:7%;
	margin-bottom:2.5%;
}


#area1{
	margin-top:1%;
	margin-left:38%;
	width:443px;
	height:140;
}

#boton2{
	margin-left:10%;
}

.InicioMensaje{
margin-left:300px;
font-weight:bold;
font-size:19px;
}

